[Unit]
Description=FaceCompare Panel
After=network.target  # Ensure MySQL starts before this service

[Service]
User=root
Group=www-data
WorkingDirectory=/usr/local/facecompare/main
ExecStart=/usr/local/facecompare/venv/bin/python3 /usr/local/facecompare/main/manage.py runsslserver 0.0.0.0:2025 --cert /usr/local/facecompare/main/cert.pem --key /usr/local/facecompare/main/key.pem






Restart=always
RestartSec=10  # Wait 10 seconds before restarting on failure

# Optionally, you can set the environment variables if needed
Environment=PYTHONUNBUFFERED=1  # Useful for logging

[Install]
WantedBy=multi-user.target
